.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 124px);
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sloganNormal {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 0px;
}

.sloganBold {
  font-weight: 700;
}

.flutterChartLibrary {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.flutterLogoInText {
  width: 1rem;
  margin-right: 0.4rem;
}
.afterFlutterLogoText {
  font-size: 1.2rem;
}