@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #50e4ff;
  --ifm-color-primary-dark: #2fdfff;
  --ifm-color-primary-darker: #1edcff;
  --ifm-color-primary-darkest: #00c6eb;
  --ifm-color-primary-light: #72e9ff;
  --ifm-color-primary-lighter: #82ecff;
  --ifm-color-primary-lightest: #b4f4ff;
  --ifm-background-color: #1b2339;
  --ifm-font-color-base: #ffffff;
  --ifm-footer-background-color: #1b2338;
  --ifm-footer-color: #FFFFFF;
  --ifm-footer-link-color: #CCCCCC;
  --ifm-font-family-base: 'Assistant', sans-serif;
}

html[data-theme='dark'] {
  --ifm-color-primary: #50e4ff;
  --ifm-color-primary-dark: #2fdfff;
  --ifm-color-primary-darker: #1edcff;
  --ifm-color-primary-darkest: #00c6eb;
  --ifm-color-primary-light: #72e9ff;
  --ifm-color-primary-lighter: #82ecff;
  --ifm-color-primary-lightest: #b4f4ff;
  --ifm-background-color: #1b2339;
  --ifm-font-color-base: #ffffff;
  --ifm-footer-background-color: #1b2338;
  --ifm-footer-color: #FFFFFF;
  --ifm-footer-link-color: #CCCCCC;
  --ifm-font-family-base: 'Assistant', sans-serif;
}

.navbar {
  background-color: #1D2337;
  border-bottom: 0px;
}

.custom-navbar-logo-class{
  height: 80px;
  background-color: #0f0f0f;
}

body {
  overflow-x: hidden !important;
}